/*********************TAG SELECTORS********************************/


body
{
  background-color:black;
}


/*********************CLASS SELECTORS******************************/


.content
{
  color:white;
  font-family:"Montserrat", sans-serif;
  font-size: 2em;
  padding-left: 23%;
}


.heading
{
  font-size:5em;
  padding-left: 25%;
}

.iron-man
{
  padding-left: 45%;
  height:10em;
}



/**********************ID SELECTORS*********************************/
