/*********************TAG SELECTORS********************************/


body
{
  background-color:black;
}


/*********************CLASS SELECTORS******************************/


.content
{
  color:white;
  font-family:"Montserrat", sans-serif;
  font-size: 2em;
}


.heading
{
  font-size:5em;
}




/**********************ID SELECTORS*********************************/
